Broker
[{"id":"5537adcf.e02a44","type":"debug","z":"27a4ebc2.8ade34","name":"","active":false,"console":"false","complete":"false","x":800,"y":104,"wires":[]},{"id":"9a8fc83a.adfa98","type":"mqtt in","z":"27a4ebc2.8ade34","name":"","topic":"$SYS/broker/#","qos":"0","broker":"51922101.9836","x":144,"y":381.8499755859375,"wires":[["667791dc.8febc"]]},{"id":"2f3d8650.2341ba","type":"ui_text","z":"27a4ebc2.8ade34","group":"68d29eb1.42104","order":1,"width":"6","height":"1","name":"","label":"Msg Recieved","format":"{{msg.payload}}","layout":"row-spread","x":885.5,"y":191.19998168945312,"wires":[]},{"id":"f962496c.faac98","type":"ui_text","z":"27a4ebc2.8ade34","group":"68d29eb1.42104","order":2,"width":"6","height":"1","name":"","label":"Msg Sent","format":"{{msg.payload}}","layout":"row-spread","x":869.5,"y":240.19998168945312,"wires":[]},{"id":"703dd270.03bdcc","type":"ui_text","z":"27a4ebc2.8ade34","group":"68d29eb1.42104","order":6,"width":"6","height":"1","name":"","label":"Clients","format":"{{msg.payload}}","layout":"row-spread","x":876.5,"y":325.1999816894531,"wires":[]},{"id":"bf16b418.c7b038","type":"ui_text","z":"27a4ebc2.8ade34","group":"68d29eb1.42104","order":7,"width":"3","height":"1","name":"","label":"Subscriptions","format":"{{msg.payload}}","layout":"row-spread","x":898.5,"y":382.1999816894531,"wires":[]},{"id":"96add3e5.865bc","type":"ui_text","z":"27a4ebc2.8ade34","group":"68d29eb1.42104","order":8,"width":"3","height":"1","name":"","label":"Rec (5 min)","format":"{{msg.payload}}","layout":"col-center","x":893.5,"y":521.1999816894531,"wires":[]},{"id":"a92ca7cc.a050f8","type":"ui_text","z":"27a4ebc2.8ade34","group":"68d29eb1.42104","order":9,"width":"3","height":"1","name":"","label":"Sent (5 min)","format":"{{msg.payload}}","layout":"col-center","x":876.5,"y":593.1999816894531,"wires":[]},{"id":"2cae70b4.fbed4","type":"ui_text","z":"27a4ebc2.8ade34","group":"68d29eb1.42104","order":5,"width":"3","height":"1","name":"","label":"Msg dropped","format":"{{msg.payload}}","layout":"row-spread","x":892.5,"y":450.1999816894531,"wires":[]},{"id":"667791dc.8febc","type":"switch","z":"27a4ebc2.8ade34","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/broker/messages/","vt":"str"},{"t":"cont","v":"/broker/clients/","vt":"str"},{"t":"cont","v":"/broker/subscriptions/","vt":"str"},{"t":"cont","v":"/broker/publish/","vt":"str"},{"t":"cont","v":"/broker/load/messages","vt":"str"}],"checkall":"true","outputs":5,"x":370,"y":396.1499938964844,"wires":[["f30821aa.d8d24"],["b29031f9.8a7b9","5537adcf.e02a44"],["4aaf7b62.d44894"],["a23e3cd7.2f9fe"],["e2d2f9c3.6d1ab8"]]},{"id":"f30821aa.d8d24","type":"switch","z":"27a4ebc2.8ade34","name":"messages","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"received","vt":"str"},{"t":"cont","v":"sent","vt":"str"}],"checkall":"true","outputs":2,"x":613,"y":237.14999389648438,"wires":[["2f3d8650.2341ba"],["f962496c.faac98"]]},{"id":"b29031f9.8a7b9","type":"switch","z":"27a4ebc2.8ade34","name":"clients","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"connected","vt":"str"}],"checkall":"true","outputs":1,"x":623,"y":299.14996337890625,"wires":[["703dd270.03bdcc"]]},{"id":"4aaf7b62.d44894","type":"switch","z":"27a4ebc2.8ade34","name":"subscriptions","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"count","vt":"str"}],"checkall":"true","outputs":1,"x":618,"y":380.14996337890625,"wires":[["bf16b418.c7b038"]]},{"id":"a23e3cd7.2f9fe","type":"switch","z":"27a4ebc2.8ade34","name":"publications","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"dropped","vt":"str"}],"checkall":"true","outputs":1,"x":621,"y":447.1499938964844,"wires":[["2cae70b4.fbed4"]]},{"id":"e2d2f9c3.6d1ab8","type":"switch","z":"27a4ebc2.8ade34","name":"load","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/received/5min","vt":"str"},{"t":"cont","v":"/sent/5min","vt":"str"}],"checkall":"true","outputs":2,"x":626,"y":523.1500244140625,"wires":[["96add3e5.865bc"],["a92ca7cc.a050f8"]]},{"id":"51922101.9836","type":"mqtt-broker","z":"","broker":"m10.cloudmqtt.com","port":"17086","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"68d29eb1.42104","type":"ui_group","z":"","name":"Cloudmqtt Status","tab":"f0b29497.44a428","disp":true,"width":"6"},{"id":"f0b29497.44a428","type":"ui_tab","z":"","name":"Broker","icon":"dashboard"}]