Forecast
[{"id":"b5f694dc.540ef","type":"feedparse","z":"73716e8a.2a50a","name":"Marine Forcasts","url":"http://weather.gc.ca/rss/marine/14100_e.xml","interval":"720","x":137.50003051757812,"y":61.666648864746094,"wires":[["487783ec.5ec0f4"]]},{"id":"7bb39fab.a0a6b","type":"join","z":"73716e8a.2a50a","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"<br/>","timeout":"4","count":"","x":460.50001525878906,"y":58.333335876464844,"wires":[["3ae37cca.ae0924"]]},{"id":"3ae37cca.ae0924","type":"ui_template","z":"73716e8a.2a50a","group":"dd23eff9.ffa3e","name":"Forecast","order":0,"width":"6","height":"10","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":653.5000152587891,"y":57.666648864746094,"wires":[[]]},{"id":"487783ec.5ec0f4","type":"function","z":"73716e8a.2a50a","name":"Marine Details","func":"newmsg = {payload:\"\"}\nnewmsg.payload = \"<b>\" + msg.article.title + \"</b><br/>\" + msg.article.summary + \"<br/><br/>\"\n\nreturn newmsg;","outputs":1,"noerr":0,"x":308.50001525878906,"y":125.6666488647461,"wires":[["7bb39fab.a0a6b"]]},{"id":"ff8fc3e3.e4cf98","type":"feedparse","z":"73716e8a.2a50a","name":"Halifax Forecast","url":"http://weather.gc.ca/rss/city/ns-19_e.xml","interval":"320","x":152.50003051757812,"y":207.66666412353516,"wires":[["58e8dd6e.2bd9dc"]]},{"id":"58e8dd6e.2bd9dc","type":"function","z":"73716e8a.2a50a","name":"Weather Forecast","func":"newmsg = {payload:\"\"}\nnewmsg.payload = \"<b>\" + msg.article.title + \"</b><br/>\" + msg.article.summary + \"<br/><br/>\"\n\nreturn newmsg;","outputs":1,"noerr":0,"x":268.5000305175781,"y":267.0000228881836,"wires":[["504566c8.77f4e"]]},{"id":"504566c8.77f4e","type":"join","z":"73716e8a.2a50a","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"<br/>","timeout":"4","count":"","x":452.50001525878906,"y":227.66667938232422,"wires":[["daa36784.d51958"]]},{"id":"daa36784.d51958","type":"ui_template","z":"73716e8a.2a50a","group":"55549daa.ede3f4","name":"Halifax","order":0,"width":"6","height":"10","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":639.5000152587891,"y":224.66667938232422,"wires":[[]]},{"id":"1ea8d8e7.3dbd8f","type":"feedparse","z":"73716e8a.2a50a","name":"Warnings","url":"https://weather.gc.ca/rss/battleboard/ns1_e.xml","interval":15,"x":110.50001525878906,"y":331.6666488647461,"wires":[["6ef6528.6428cac","39d66f9f.9dd16"]]},{"id":"6ef6528.6428cac","type":"function","z":"73716e8a.2a50a","name":"Warning Details","func":"newmsg = {payload:\"\"}\nnewmsg.payload = \"<b>\" + msg.article.title + \"</b><br/>\" + msg.article.link + \"<br/><br/>\"\n\nreturn newmsg;","outputs":1,"noerr":0,"x":306.5000305175781,"y":328.66666412353516,"wires":[["b33b6841.af93d8"]]},{"id":"b33b6841.af93d8","type":"join","z":"73716e8a.2a50a","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"<br/>","timeout":"4","count":"","x":468.50001525878906,"y":327.33333587646484,"wires":[["94e67ab4.8123b"]]},{"id":"94e67ab4.8123b","type":"ui_template","z":"73716e8a.2a50a","group":"b6daaf4b.7f02","name":"Halifax County","order":0,"width":"6","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":675.5000152587891,"y":329.33333587646484,"wires":[[]]},{"id":"39d66f9f.9dd16","type":"sunpos","z":"73716e8a.2a50a","name":"","lon":"-63.7908461","lat":"44.5367089","start":"sunrise","startoffset":0,"end":"sunsetStart","endoffset":0,"x":327.50001525878906,"y":408.20003509521484,"wires":[["658bf89a.4a6268","791fc0e7.725e3"]]},{"id":"6b527fbc.ebe97","type":"ui_gauge","z":"73716e8a.2a50a","name":"Sun Degrees","group":"f2e60f07.d5a12","order":2,"width":"3","height":"2","gtype":"compass","title":"Azimuth","label":"","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"x":806.5000152587891,"y":460.5000228881836,"wires":[]},{"id":"658bf89a.4a6268","type":"function","z":"73716e8a.2a50a","name":"Get Position","func":"newmsg = {payload:\"\"}\nif (msg.payload.sunInSky === true){\n    newmsg.payload = Math.round(msg.payload.azimuth)\n    \n} else {\n    newmsg.payload = 0    \n}\n\n\nreturn newmsg;","outputs":1,"noerr":0,"x":594.5000152587891,"y":477.45003509521484,"wires":[["6b527fbc.ebe97"]]},{"id":"791fc0e7.725e3","type":"function","z":"73716e8a.2a50a","name":"Get Sun Details","func":"newmsg = {payload:\"\"}\nif (msg.payload.sunInSky === true){\n    newmsg.payload = Math.round(msg.payload.altitude)\n    \n} else {\n    newmsg.payload = 0   \n}\n\n\nreturn newmsg;","outputs":1,"noerr":0,"x":611.0000152587891,"y":399.0000228881836,"wires":[["b1e845b8.87add8"]]},{"id":"b1e845b8.87add8","type":"ui_gauge","z":"73716e8a.2a50a","name":"Altitude","group":"f2e60f07.d5a12","order":1,"width":"3","height":"2","gtype":"donut","title":"Altitude","label":"Degrees","format":"{{value}}","min":0,"max":"45","colors":["#001eb3","#e2e600","#ffffff"],"x":807.3333282470703,"y":382.55001068115234,"wires":[]},{"id":"bb8f6cf5.ff5ab","type":"sun events","z":"73716e8a.2a50a","testmode":false,"verbose":false,"topic":"","name":"Get sun events","x":123.00001525878906,"y":554.0000228881836,"wires":[["b2521bb4.1cf288"]]},{"id":"b2521bb4.1cf288","type":"function","z":"73716e8a.2a50a","name":"Sun Event","func":"var newmsg = {payload:\"something\"};\nif (msg.payload == 'sunrise') {\n        newmsg.payload = \"Sun rise of top edge:\" + msg.datetime;\n    } else if (msg.payload == 'sunriseEnd') {\n        newmsg.payload = \"Sun rise of bottom edge: \" + msg.datetime;\n    } else if (msg.payload == 'goldenHourEnd') {\n        newmsg.payload = \"Morning golden hour ends: \" + msg.datetime;\n    } else if (msg.payload == 'solarNoon') {\n        newmsg.payload = \"Sun at highest position: \" + msg.datetime;\n    } else if (msg.payload == 'goldenHour') {\n        newmsg.payload = \"Evening golden hour starts: \" + msg.datetime;\n    } else if (msg.payload == 'sunsetStart') {\n        newmsg.payload = \"Sun set of bottom edge: \" + msg.datetime;\n    } else if (msg.payload == 'sunset') {\n        newmsg.payload = \"Sun set of top edge: \" + msg.datetime;\n    } else if (msg.payload == 'dusk') {\n        newmsg.payload = \"Evening nautical twilight starts: \" + msg.datetime;\n    } else if (msg.payload == 'nauticalDusk') {\n        newmsg.payload = \"Evening astronomical twilight starts: \" + msg.datetime;\n    } else if (msg.payload == 'night') {\n        newmsg.payload = \"Night starts: \" + msg.datetime;\n    } else if (msg.payload == 'nightEnd') {\n        newmsg.payload = \"Morning astronomical twilight starts: \" + msg.datetime;\n    } else if (msg.payload == 'nauticalDawn') {\n        newmsg.payload = \"Morning nautical twilight starts: \" + msg.datetime;\n    } else if (msg.payload == 'dawn') {\n        newmsg.payload = \"Morning nautical twilight ends: \" + msg.datetime;\n    } else if (msg.payload == 'nadir') {\n        newmsg.payload = \"Darkest moment: \" + msg.datetime;\n    } else {\n        newmsg.payload = msg.payload + \" time \" + msg.datetime;\n    }\nreturn newmsg;","outputs":1,"noerr":0,"x":331.00001525878906,"y":558.0000228881836,"wires":[["5dd962a3.4a12cc"]]},{"id":"5dd962a3.4a12cc","type":"ui_text","z":"73716e8a.2a50a","group":"f2e60f07.d5a12","order":12,"width":0,"height":0,"name":"Solar Event Out","label":"Solar Event","format":"{{msg.payload}}","layout":"col-center","x":596.0000152587891,"y":555.0000228881836,"wires":[]},{"id":"415b64e.9c9059c","type":"wunderground","z":"73716e8a.2a50a","name":"Get Details","lon":"-63.7908461","lat":"44.5367089","city":"","country":"","x":328.00001525878906,"y":621.0000228881836,"wires":[["915a106a.99d9"]]},{"id":"4dd6a009.4e078","type":"inject","z":"73716e8a.2a50a","name":"Get Forecast","topic":"","payload":"true","payloadType":"bool","repeat":"14400","crontab":"","once":true,"x":125.00004577636719,"y":621.6667098999023,"wires":[["415b64e.9c9059c"]]},{"id":"915a106a.99d9","type":"function","z":"73716e8a.2a50a","name":"Extract Details","func":"newmsg = {payload:\"\"}\nnewmsg.payload = \"<b>\" + msg.payload.description + \"</b><br/>\" + msg.payload.weather + \"<br/><br/>\" + msg.payload.forecast\n\nreturn newmsg;","outputs":1,"noerr":0,"x":541.0000152587891,"y":639.0000228881836,"wires":[["1db34530.93ed1b"]]},{"id":"1db34530.93ed1b","type":"ui_template","z":"73716e8a.2a50a","group":"92eb21e3.0b641","name":"WU Forecast","order":0,"width":"6","height":"10","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":759.0000152587891,"y":679.6666488647461,"wires":[[]]},{"id":"dd23eff9.ffa3e","type":"ui_group","z":"","name":"Marine","tab":"a488a3f7.9f0538","order":2,"disp":true,"width":"6"},{"id":"55549daa.ede3f4","type":"ui_group","z":"","name":"Halifax","tab":"a488a3f7.9f0538","order":1,"disp":true,"width":"6"},{"id":"b6daaf4b.7f02","type":"ui_group","z":"","name":"Warnings","tab":"a6b4b703.0a3ad8","order":8,"disp":true,"width":"6"},{"id":"f2e60f07.d5a12","type":"ui_group","z":"","name":"Solar","tab":"a6b4b703.0a3ad8","order":4,"disp":true,"width":"6"},{"id":"92eb21e3.0b641","type":"ui_group","z":"","name":"WU Forecast","tab":"a488a3f7.9f0538","disp":true,"width":"6"},{"id":"a488a3f7.9f0538","type":"ui_tab","z":"","name":"Forecast","icon":"dashboard","order":2},{"id":"a6b4b703.0a3ad8","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","order":1}]