Graphs
[{"id":"972de542.ee5a48","type":"function","z":"d0e0119a.7720d","name":"Prep","func":"var msg2 = [];\nvar output = [];\nvar label = \"Something is wrong\";\nif (msg.topic.indexOf(\"OUTSIDE\") >0){\n    label = \"Celcius\";\n    msg.topic = \"Outside temperature from \";\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].W_TIME, msg.payload[j].OUTSIDE]);        \n    }    \n}\nif (msg.topic.indexOf(\"TEMP_AVG\") >0){\n    label = \"Celcius\";\n    msg.topic = \"Daily Average temperature\";\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].WE_DATE, msg.payload[j].TEMP_AVG]);        \n    }    \n}\nif (msg.topic.indexOf(\"REL_HUM\") >0){\n    label = \"Percent\";\n    msg.topic = \"Relative humidity\";\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].W_TIME, msg.payload[j].REL_HUM]);        \n    }    \n}\nif (msg.topic.indexOf(\"DEWPOINT\") >0){\n    label = \"Celcius\";\n    msg.topic = \"Dewpoint\";\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].W_TIME, msg.payload[j].DEWPOINT]);        \n    }    \n}\nif (msg.topic.indexOf(\" SPEED\") >0){\n    label = \"Kph\";\n    msg.topic = \"Wind speed\";\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].W_TIME, msg.payload[j].SPEED]);        \n    }    \n}\nif (msg.topic.indexOf(\"WIND_AVG\") >0){\n    label = \"Kph\";\n    msg.topic = \"Daily average wind speed (Kph)\";\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].WE_DATE, msg.payload[j].WIND_AVG]);        \n    }    \n}\nif (msg.topic.indexOf(\"WIND_RUN\") >0){\n    label = \"K\";\n    msg.topic = \"Daily wind run (kilometers)\";\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].WE_DATE, msg.payload[j].WIND_RUN]);        \n    }    \n}\nif (msg.topic.indexOf(\"DIRECTION\") >0){\n    label = \"Degrees\";\n    msg.topic = \"Wind direction\";\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].W_TIME, msg.payload[j].DIRECTION]);        \n    }    \n}\nif (msg.topic.indexOf(\"B_VOLTAGE\") >0){\n    label = \"volts\";\n    msg.topic = \"Battery volts\";\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].W_TIME, msg.payload[j].B_VOLTAGE]);        \n    }    \n}\nif (msg.topic.indexOf(\"C_TEMP\") >0){\n    label = \"Celcius\";\n    msg.topic = \"Board temperature\";\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].W_TIME, msg.payload[j].C_TEMP]);        \n    }    \n}\nif (msg.topic.indexOf(\"RAD\") >0){\n    label = \"W/m2\";\n    msg.topic = \"Solar radiation (W/m2)\";\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].W_TIME, msg.payload[j].RAD]);        \n    }    \n}\nif (msg.topic.indexOf(\"SOLAR_ENERGY\") >0){\n    label = \"Ly\";\n    msg.topic = \"Daily solar energy (Ly)\";\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].WE_DATE, msg.payload[j].SOLAR_ENERGY]);        \n    }    \n}\nif (msg.topic.indexOf(\"REL_PRESS\") >0){\n    label = \"Pa\";\n    msg.topic = \"Relative pressure (Pa)\";\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].W_TIME, msg.payload[j].REL_PRESS]);        \n    }    \n}\nif (msg.topic.indexOf(\"BAR\") >0){\n    label = \"Pa\";\n    msg.topic = \"Daily relative pressure (Pa)\";\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].WE_DATE, msg.payload[j].BAR]);        \n    }    \n}\n\nmsg2.push({ key: label, values : output});\n\nmsg.payload=msg2;\n//msg.payload = [ { key: \"Power\", values : output} ];\n//msg.topic = \"Power\";\nreturn msg;","outputs":1,"noerr":0,"x":808.5,"y":374.5,"wires":[["6435dd29.084194","bd80c7df.796f58"]]},{"id":"9e5203a5.f8505","type":"function","z":"d0e0119a.7720d","name":"Empty payload","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":339.5,"y":163.5,"wires":[["6435dd29.084194","bd80c7df.796f58","33584c01.058214"]]},{"id":"2d62aba9.086b54","type":"comment","z":"d0e0119a.7720d","name":"Dynamic report example","info":"This flow can generate graph based from data stored\nin the database and display multiple data points\nin a single graph.","x":204,"y":98,"wires":[]},{"id":"5dce75c5.01cccc","type":"mysql","z":"d0e0119a.7720d","mydb":"adef16a9.556c98","name":"","x":655.2499389648438,"y":390.1500244140625,"wires":[["972de542.ee5a48"]]},{"id":"6435dd29.084194","type":"ui_chart","z":"d0e0119a.7720d","name":"Graphs","group":"8d628cd7.b915a","order":2,"width":"6","height":"6","label":"","chartType":"line","legend":"false","xformat":"DD-HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":915,"y":162.5,"wires":[[],[]]},{"id":"ed920eca.d5e42","type":"ui_button","z":"d0e0119a.7720d","name":"","group":"8d628cd7.b915a","order":4,"width":0,"height":0,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":134,"y":167.5,"wires":[["9e5203a5.f8505"]]},{"id":"bd80c7df.796f58","type":"ui_text","z":"d0e0119a.7720d","group":"8d628cd7.b915a","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.topic}}","layout":"col-center","x":721,"y":224.5,"wires":[]},{"id":"33584c01.058214","type":"ui_dropdown","z":"d0e0119a.7720d","name":"Measurement","label":"Live measure","group":"8d628cd7.b915a","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"BLANK","type":"str"},{"label":"temperature","value":"TEMP","type":"str"},{"label":"dew point","value":"DEWPOINT","type":"str"},{"label":"humidity","value":"HUMIDITY","type":"str"},{"label":"pressure","value":"PRESSURE","type":"str"},{"label":"wind speed","value":"WIND","type":"str"},{"label":"wind direction","value":"DIRECTION","type":"str"},{"label":"solar radiation","value":"SOLAR","type":"str"},{"label":"battery levels","value":"BOARD","type":"str"},{"label":"board temperature","value":"BTEMP","type":"str"}],"payload":"","topic":"","x":284.5,"y":295.5,"wires":[["6a7926f6.452038"]]},{"id":"6a7926f6.452038","type":"function","z":"d0e0119a.7720d","name":"SQL","func":"if (msg.payload == 'TEMP') {\n    var m = {\n        topic : \"Select W_TIME, OUTSIDE from TEMP order by W_TIME;\" , \n        label : \"Celcius\"\n };\n}\nif (msg.payload == 'HUMIDITY') {\n    var m = {\n        topic : \"Select W_TIME, REL_HUM from TEMP order by W_TIME;\" , \n        label : \"Celcius\"\n };\n}\nif (msg.payload == 'DEWPOINT') {\n    var m = {\n        topic : \"Select W_TIME, DEWPOINT from TEMP order by W_TIME;\" , \n        label : \"Celcius\"\n };\n}\nif (msg.payload == 'BOARD') {\n        var m = {\n topic : \"Select W_TIME, B_VOLTAGE from BOARD order by W_TIME desc;\"     \n };\n}\nif (msg.payload == 'BTEMP') {\n        var m = {\n topic : \"Select W_TIME, C_TEMP from BOARD order by W_TIME desc;\"     \n };\n}\nif (msg.payload == 'WIND') {\n        var m = {\n topic : \"Select W_TIME, SPEED from WIND order by W_TIME desc;\"     \n };\n}\nif (msg.payload == 'DIRECTION') {\n        var m = {\n topic : \"Select W_TIME, DIRECTION from WIND order by W_TIME desc;\"     \n };\n}\nif (msg.payload == 'PRESSURE') {\n        var m = {\n topic : \"Select W_TIME, REL_PRESS from PRESSURE order by W_TIME desc;\"     \n };\n}\nif (msg.payload == 'SOLAR') {\n        var m = {\n topic : \"Select W_TIME, RAD from SOLAR order by W_TIME desc;\"     \n };\n}\n\nreturn m;","outputs":1,"noerr":0,"x":483.5,"y":342.5,"wires":[["5dce75c5.01cccc"]]},{"id":"35a9f056.f20c7","type":"debug","z":"d0e0119a.7720d","name":"","active":true,"console":"false","complete":"false","x":813.375,"y":643.375,"wires":[]},{"id":"413908c8.8dca08","type":"ui_dropdown","z":"d0e0119a.7720d","name":"","label":"Measurement","group":"95e034af.c6d398","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"Temperature","value":"TEMP","type":"str"},{"label":"Pressure","value":"PRESSURE","type":"str"},{"label":"Wind","value":"WIND","type":"str"},{"label":"Run","value":"RUN","type":"str"},{"label":"Solar","value":"SOLAR","type":"str"}],"payload":"","topic":"","x":272.5,"y":370.14996337890625,"wires":[["8ff0f345.e3f06"]]},{"id":"366417d4.f7e108","type":"ui_form","z":"d0e0119a.7720d","name":"Query","label":"Fill in query date range","group":"95e034af.c6d398","order":0,"width":0,"height":0,"options":[{"label":"Use archive details (limit 1000)","value":"DETAIL","type":"switch","required":false},{"label":"from date (yyyy-mm-dd)","value":"FROMDATE","type":"text","required":true},{"label":"to date (yyyy-mm-dd)","value":"TODATE","type":"text","required":true}],"formValue":{"DETAIL":false,"FROMDATE":"","TODATE":""},"payload":"","topic":"","x":113,"y":327.5,"wires":[["413908c8.8dca08"]]},{"id":"8ff0f345.e3f06","type":"join","z":"d0e0119a.7720d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"payload","joiner":"\\n","timeout":"","count":"2","x":392.5,"y":524.949951171875,"wires":[["818fcfd1.4a398"]]},{"id":"6e952dd3.75aad4","type":"function","z":"d0e0119a.7720d","name":"Query SQL","func":"var Week  = 604800000 ; //7 Days\nvar Day   =  86400000 ; // 1 Days\nvar d = new Date();\nvar epoch = d.getTime();\nvar fromdate = epoch - Day;\nvar enddate = epoch;\nvar output = [];\n\nif (msg.topic === 'BLANK'){\n   var m = { topic : ''};\n}\nif (msg.topic === 'TEMP') {\n    if (msg.payload[1].DETAIL === true){\n     var m = {\n        topic : \"Select ADDTIME(WE_DATE,WE_TIME) as WE_DATE, TEMP_OUT as TEMP_AVG from CORE_DATA where WE_DATE >= '\" + msg.payload[1].FROMDATE + \"' and WE_DATE <= '\" + msg.payload[1].TODATE + \"' order by WE_DATE_TIME limit 0, 1000;\",    \n        };\n    } else {\n    var m = {\n        topic : \"Select WE_DATE, TEMP_AVG from CORE_DATE where WE_DATE >= '\" + msg.payload[1].FROMDATE + \"' and WE_DATE <= '\" + msg.payload[1].TODATE + \"' order by WE_DATE;\" , \n    };\n }\n}\nif (msg.topic === 'PRESSURE') {\n    if (msg.payload[1].DETAIL === true) {\n    var m = {\n        topic : \"Select ADDTIME(WE_DATE,WE_TIME) as WE_DATE, BAR from CORE_DATA where WE_DATE >= '\" + msg.payload[1].FROMDATE + \"' and WE_DATE <= '\" + msg.payload[1].TODATE + \"' order by WE_DATE_TIME limit 0, 1000;\" , \n        \n };        \n    } else {\n    var m = {\n        topic : \"Select WE_DATE, BAR from CORE_DATE where WE_DATE >= '\" + msg.payload[1].FROMDATE + \"' and WE_DATE <= '\" + msg.payload[1].TODATE + \"' order by WE_DATE;\" , \n        \n };       \n    }\n    \n\n}\nif (msg.topic === 'WIND') {\n    if (msg.payload[1].DETAIL === true){\n        var m = {\n        topic : \"Select ADDTIME(WE_DATE,WE_TIME) as WE_DATE, WIND_SPEED as WIND_AVG from CORE_DATA where WE_DATE >= '\" + msg.payload[1].FROMDATE + \"' and WE_DATE <= '\" + msg.payload[1].TODATE + \"' order by WE_DATE_TIME limit 0, 1000;\" ,\n        };\n    } else {\n        var m = {\n        topic : \"Select WE_DATE, WIND_AVG from CORE_DATE where WE_DATE >= '\" + msg.payload[1].FROMDATE + \"' and WE_DATE <= '\" + msg.payload[1].TODATE + \"' order by WE_DATE;\" , \n        };\n    }\n}\nif (msg.topic === 'RUN') {\n        if (msg.payload[1].DETAIL === true){\n        var m = {\n        topic : \"Select ADDTIME(WE_DATE,WE_TIME) as WE_DATE, WIND_RUN from CORE_DATA where WE_DATE >= '\" + msg.payload[1].FROMDATE + \"' and WE_DATE <= '\" + msg.payload[1].TODATE + \"' order by WE_DATE_TIME limit 0, 1000;\" ,\n        };\n    } else {\n        var m = {\n        topic : \"Select WE_DATE, WIND_RUN from CORE_DATE where WE_DATE >= '\" + msg.payload[1].FROMDATE + \"' and WE_DATE <= '\" + msg.payload[1].TODATE + \"' order by WE_DATE;\" , \n        };\n    }\n}\nif (msg.topic === 'SOLAR') {\n    if (msg.payload[1].DETAIL === true){\n        var m = {\n        topic : \"Select ADDTIME(WE_DATE,WE_TIME) as WE_DATE, SOLAR_ENERGY from CORE_DATA where WE_DATE >= '\" + msg.payload[1].FROMDATE + \"' and WE_DATE <= '\" + msg.payload[1].TODATE + \"' order by WE_DATE_TIME limit 0, 1000;\" ,\n        };\n    } else {\n        var m = {\n        topic : \"Select WE_DATE, SOLAR_ENERGY from CORE_DATE where WE_DATE >= '\" + msg.payload[1].FROMDATE + \"' and WE_DATE <= '\" + msg.payload[1].TODATE + \"' order by WE_DATE;\" , \n        \n        };\n    }\n}\n\n\nreturn m;","outputs":1,"noerr":0,"x":506,"y":449.5,"wires":[["5dce75c5.01cccc"]]},{"id":"818fcfd1.4a398","type":"function","z":"d0e0119a.7720d","name":"Get Method","func":"msg.topic = msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":624.5,"y":589.9500122070312,"wires":[["6e952dd3.75aad4","35a9f056.f20c7"]]},{"id":"adef16a9.556c98","type":"MySQLdatabase","z":"","host":"10.0.1.40","port":"3306","db":"weather","tz":""},{"id":"8d628cd7.b915a","type":"ui_group","z":"","name":"Graph","tab":"8571a292.a9c76","order":2,"disp":true,"width":"6"},{"id":"95e034af.c6d398","type":"ui_group","z":"","name":"Daily / Archive Query","tab":"8571a292.a9c76","disp":true,"width":"6"},{"id":"8571a292.a9c76","type":"ui_tab","z":"","name":"Graphs","icon":"dashboard","order":2}]