Station Broker
[{"id":"5df81be7.39a7e4","type":"debug","z":"43603a95.bb0adc","name":"","active":false,"console":"false","complete":"false","x":558,"y":710.8500061035156,"wires":[]},{"id":"26acf4ca.21ad9c","type":"ui_gauge","z":"43603a95.bb0adc","name":"Temps","group":"1ed2fb20.b00fe5","order":5,"width":"6","height":"3","gtype":"gage","title":"","label":"Celcius","format":"{{value}}","min":"-10","max":"30","colors":["#2c21fe","#63fc52","#ca3838"],"x":717.75,"y":444.3499755859375,"wires":[]},{"id":"f9d4a0a7.5c954","type":"ui_gauge","z":"43603a95.bb0adc","name":"Wind Speed","group":"ff356f7d.c1a0e","order":1,"width":"3","height":"3","gtype":"gage","title":"10 min Average","label":"Kph","format":"{{value}}","min":0,"max":"100","colors":["#ffffff","#00e60b","#ca3838"],"x":914,"y":146.85000610351562,"wires":[]},{"id":"550cd57e.ab09ac","type":"mqtt in","z":"43603a95.bb0adc","name":"","topic":"Dock/#","qos":"0","broker":"51922101.9836","x":160.5,"y":727.0000305175781,"wires":[["13f10a5e.d1fdc6","5df81be7.39a7e4"]]},{"id":"b3f5f34e.07f32","type":"ui_chart","z":"43603a95.bb0adc","name":"Wind Chart","group":"ff356f7d.c1a0e","order":3,"width":"6","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"0","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":1097.5,"y":317.5,"wires":[[],[]]},{"id":"2279f11b.3f34ae","type":"mqtt out","z":"43603a95.bb0adc","name":"","topic":"Test/Data","qos":"2","retain":"","broker":"51922101.9836","x":427.5,"y":99.14999389648438,"wires":[]},{"id":"cb8351.46e17cb","type":"inject","z":"43603a95.bb0adc","name":"Test Broker","topic":"","payload":"Hello World","payloadType":"str","repeat":"","crontab":"","once":false,"x":239.5,"y":94,"wires":[["2279f11b.3f34ae"]]},{"id":"4ba147ee.f37688","type":"mqtt in","z":"43603a95.bb0adc","name":"","topic":"Test/Data","qos":"2","broker":"51922101.9836","x":575.5,"y":94.99996948242188,"wires":[["5e04444.575dcbc"]]},{"id":"5e04444.575dcbc","type":"debug","z":"43603a95.bb0adc","name":"","active":true,"console":"false","complete":"false","x":749.5,"y":95.14999389648438,"wires":[]},{"id":"b3582121.8c1ad","type":"ui_gauge","z":"43603a95.bb0adc","name":"Wind Direction","group":"ff356f7d.c1a0e","order":4,"width":"6","height":"3","gtype":"donut","title":"Direction","label":"Degrees","format":"{{value}}","min":0,"max":"360","colors":["#ffffff","#ffffff","#ffffff"],"x":925.5,"y":239.5,"wires":[]},{"id":"a41edf3d.b79a1","type":"ui_gauge","z":"43603a95.bb0adc","name":"Rain Today","group":"9181f272.5e62","order":0,"width":"6","height":"3","gtype":"wave","title":"Rain Today","label":"mm","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"x":648,"y":1901.2500305175781,"wires":[]},{"id":"615fbe19.a0ff","type":"ui_gauge","z":"43603a95.bb0adc","name":"Relative Pressure","group":"baf0ae86.3126a","order":4,"width":"6","height":"3","gtype":"gage","title":"","label":"bars","format":"{{value}}","min":"950","max":"1050","colors":["#b30003","#f7ffd6","#57ca3a"],"x":1078,"y":546.2500305175781,"wires":[]},{"id":"2acd94f5.f2eaac","type":"ui_gauge","z":"43603a95.bb0adc","name":"Solar Radiation","group":"f2e60f07.d5a12","order":10,"width":"6","height":"3","gtype":"gage","title":"","label":"W/m2","format":"{{value}}","min":0,"max":"800","colors":["#000cb3","#00e60b","#f0e514"],"x":879.75,"y":779.5000305175781,"wires":[]},{"id":"cf35b470.4697a8","type":"ui_chart","z":"43603a95.bb0adc","name":"Daily Pressure","group":"baf0ae86.3126a","order":5,"width":"6","height":"3","label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":1207,"y":588.2500305175781,"wires":[[],[]]},{"id":"e0bdba7.118f548","type":"ui_chart","z":"43603a95.bb0adc","name":"Daily Radiation","group":"f2e60f07.d5a12","order":11,"width":"6","height":"3","label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":1038.75,"y":825.5000305175781,"wires":[[],[]]},{"id":"e93af30b.78882","type":"ui_gauge","z":"43603a95.bb0adc","name":"Battery Volts","group":"fae2100b.4728","order":1,"width":"3","height":"3","gtype":"gage","title":"Battery","label":"volts","format":"{{value}}","min":"8","max":"15","colors":["#b30003","#e6e600","#43ca3a"],"x":815.75,"y":1189.4999084472656,"wires":[]},{"id":"ec0e38e4.2b7c18","type":"ui_gauge","z":"43603a95.bb0adc","name":"Current Speed","group":"ff356f7d.c1a0e","order":2,"width":"3","height":"3","gtype":"gage","title":"Current","label":"kph","format":"{{value}}","min":0,"max":"100","colors":["#fafffa","#08e600","#ca3838"],"x":925.5,"y":353.5,"wires":[]},{"id":"8539a2f2.22cd4","type":"ui_gauge","z":"43603a95.bb0adc","name":"Board Temp","group":"fae2100b.4728","order":3,"width":"6","height":"3","gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":"-10","max":"30","colors":["#0000b3","#00e63d","#ca3838"],"x":820.25,"y":1271.3500061035156,"wires":[]},{"id":"2c570be9.b782b4","type":"ui_text","z":"43603a95.bb0adc","group":"1ed2fb20.b00fe5","order":2,"width":"3","height":"1","name":"Daily Hi","label":"Hi","format":"{{msg.payload}}","layout":"row-spread","x":718.25,"y":492.9999694824219,"wires":[]},{"id":"21293d29.e225c2","type":"ui_text","z":"43603a95.bb0adc","group":"1ed2fb20.b00fe5","order":1,"width":"3","height":"1","name":"Daily Low","label":"Low","format":"{{msg.payload}}","layout":"row-spread","x":713.25,"y":541.7499084472656,"wires":[]},{"id":"9115e1f.144db2","type":"ui_text","z":"43603a95.bb0adc","group":"1ed2fb20.b00fe5","order":4,"width":"3","height":"1","name":"Humidity","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":711.2498779296875,"y":588.4999694824219,"wires":[]},{"id":"3c02df22.ebbe5","type":"ui_text","z":"43603a95.bb0adc","group":"1ed2fb20.b00fe5","order":3,"width":"3","height":"1","name":"Dewpoint","label":"Dewpoint","format":"{{msg.payload}}","layout":"row-spread","x":708.25,"y":653.7499084472656,"wires":[]},{"id":"205e7e6a.c4d102","type":"ui_text","z":"43603a95.bb0adc","group":"ff356f7d.c1a0e","order":5,"width":"6","height":"1","name":"Rose","label":"Dominent Direction","format":"{{msg.payload}}","layout":"row-spread","x":896,"y":277.8500671386719,"wires":[]},{"id":"94aac32f.d0a32","type":"ui_text","z":"43603a95.bb0adc","group":"baf0ae86.3126a","order":1,"width":"3","height":"1","name":"Daily Low","label":"Daiy Low","format":"{{msg.payload}}","layout":"row-spread","x":1125.999755859375,"y":642.0000305175781,"wires":[]},{"id":"2193d380.fe096c","type":"ui_text","z":"43603a95.bb0adc","group":"baf0ae86.3126a","order":2,"width":"3","height":"1","name":"Daily Hi","label":"Hi","format":"{{msg.payload}}","layout":"row-spread","x":1110.25,"y":693.2499694824219,"wires":[]},{"id":"c80feb37.fe7b28","type":"function","z":"43603a95.bb0adc","name":"HeatDD","func":"msg.topic = 'Heat';\nreturn msg;","outputs":1,"noerr":0,"x":664.625,"y":1525.6625061035156,"wires":[["41a84cd6.709bb4"]]},{"id":"61fdcfd4.7c85e","type":"function","z":"43603a95.bb0adc","name":"CoolDD","func":"msg.topic = 'Cool';\nreturn msg;","outputs":1,"noerr":0,"x":667.625,"y":1571.1625061035156,"wires":[["41a84cd6.709bb4"]]},{"id":"41a84cd6.709bb4","type":"ui_chart","z":"43603a95.bb0adc","name":"Degree Days","group":"1ed2fb20.b00fe5","order":0,"width":"6","height":"3","label":"Degree Days","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":887.125,"y":1546.4125061035156,"wires":[[],[]]},{"id":"f9c55b90.b7bd28","type":"function","z":"43603a95.bb0adc","name":"","func":"msg.topic = \"Run\";\nreturn msg;","outputs":1,"noerr":0,"x":898.5,"y":439.29998779296875,"wires":[["2034daba.051036"]]},{"id":"2034daba.051036","type":"ui_chart","z":"43603a95.bb0adc","name":"Wind Run","group":"ff356f7d.c1a0e","order":6,"width":"6","height":"3","label":"Kilometers of wind","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":1042,"y":438.8500061035156,"wires":[[],[]]},{"id":"9f8c03a6.709de","type":"ui_text","z":"43603a95.bb0adc","group":"baf0ae86.3126a","order":3,"width":"6","height":"1","name":"Trend","label":"Trend","format":"{{msg.payload}}","layout":"row-spread","x":1087.999755859375,"y":732.5000305175781,"wires":[]},{"id":"6032e94c.a79d18","type":"ui_chart","z":"43603a95.bb0adc","name":"Cloud Cover","group":"f2e60f07.d5a12","order":7,"width":"6","height":"3","label":"","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":1109.5,"y":950.4999084472656,"wires":[[],[]]},{"id":"6e7be02c.b2b1f","type":"function","z":"43603a95.bb0adc","name":"","func":"msg.topic = 'Cloud Cover';\nreturn msg;","outputs":1,"noerr":0,"x":948.5,"y":954.2999572753906,"wires":[["6032e94c.a79d18"]]},{"id":"7636b4f7.e9548c","type":"ui_text","z":"43603a95.bb0adc","group":"f2e60f07.d5a12","order":9,"width":"3","height":"1","name":"","label":"Current Max","format":"{{msg.payload}}","layout":"row-spread","x":965.5,"y":912.4999694824219,"wires":[]},{"id":"d64ab38c.f68e1","type":"ui_text","z":"43603a95.bb0adc","group":"f2e60f07.d5a12","order":5,"width":"3","height":"1","name":"","label":"Sun Hrs","format":"{{msg.payload}}","layout":"row-spread","x":934,"y":996.3500061035156,"wires":[]},{"id":"e2bc17f5.290bb8","type":"function","z":"43603a95.bb0adc","name":"","func":"msg.topic = 'Max';\nreturn msg;","outputs":1,"noerr":0,"x":857.5,"y":876.3000183105469,"wires":[["e0bdba7.118f548"]]},{"id":"c5f105aa.c37568","type":"function","z":"43603a95.bb0adc","name":"","func":"msg.topic = 'Speed';\nreturn msg;","outputs":1,"noerr":0,"x":896.5,"y":316.3000183105469,"wires":[["b3f5f34e.07f32"]]},{"id":"e0170182.4054d","type":"ui_text","z":"43603a95.bb0adc","group":"ff356f7d.c1a0e","order":7,"width":"3","height":"1","name":"","label":"Daily Avg","format":"{{msg.payload}}","layout":"row-center","x":907.5,"y":190.5,"wires":[]},{"id":"8aa7fd93.f3f3e","type":"ui_text","z":"43603a95.bb0adc","group":"ff356f7d.c1a0e","order":8,"width":"3","height":"1","name":"","label":"Daily Hi","format":"{{msg.payload}}","layout":"row-center","x":907.5,"y":394.5000305175781,"wires":[]},{"id":"ea0baff6.85dc3","type":"ui_text","z":"43603a95.bb0adc","group":"f2e60f07.d5a12","order":6,"width":"3","height":"1","name":"","label":"Day Hrs","format":"{{msg.payload}}","layout":"row-spread","x":767,"y":1135.3500061035156,"wires":[]},{"id":"25c7e19b.b0bc3e","type":"ui_text","z":"43603a95.bb0adc","group":"f2e60f07.d5a12","order":3,"width":"3","height":"1","name":"","label":"Sun Rise","format":"{{msg.payload}}","layout":"row-spread","x":938,"y":1094.3500061035156,"wires":[]},{"id":"357c5679.8135ea","type":"ui_text","z":"43603a95.bb0adc","group":"f2e60f07.d5a12","order":4,"width":"3","height":"1","name":"","label":"Sun Set","format":"{{msg.payload}}","layout":"row-spread","x":934,"y":1142.3500061035156,"wires":[]},{"id":"3ebc21fe.70619e","type":"ui_text","z":"43603a95.bb0adc","group":"f2e60f07.d5a12","order":8,"width":"3","height":"1","name":"","label":"Daily W/m2","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":1045.3500061035156,"wires":[]},{"id":"433ec8e8.ea7368","type":"ui_text","z":"43603a95.bb0adc","group":"806d5ceb.d8c9","order":1,"width":0,"height":0,"name":"Display Name","label":"Station Name","format":"{{msg.payload}}","layout":"row-spread","x":682,"y":1470.8500061035156,"wires":[]},{"id":"572be57.115fa1c","type":"ui_text","z":"43603a95.bb0adc","group":"806d5ceb.d8c9","order":2,"width":0,"height":0,"name":"","label":"Eos Version","format":"{{msg.payload}}","layout":"row-spread","x":870.5,"y":1341.3500061035156,"wires":[]},{"id":"57af99b4.45fbe8","type":"ui_text","z":"43603a95.bb0adc","group":"806d5ceb.d8c9","order":4,"width":0,"height":0,"name":"","label":"Fan State","format":"{{msg.payload}}","layout":"row-spread","x":801.5,"y":1635.3500061035156,"wires":[]},{"id":"7ee5e033.e1385","type":"ui_text","z":"43603a95.bb0adc","group":"806d5ceb.d8c9","order":3,"width":0,"height":0,"name":"","label":"Firmware","format":"{{msg.payload}}","layout":"row-spread","x":866,"y":1437.9999084472656,"wires":[]},{"id":"5064d8ba.344ac8","type":"ui_text","z":"43603a95.bb0adc","group":"806d5ceb.d8c9","order":2,"width":0,"height":0,"name":"","label":"Eor Version","format":"{{msg.payload}}","layout":"row-spread","x":873,"y":1390.9999084472656,"wires":[]},{"id":"fb2cfb46.58b438","type":"ui_text","z":"43603a95.bb0adc","group":"7c7cbc9a.477474","order":1,"width":0,"height":0,"name":"","label":"Wind Alarm","format":"{{msg.payload}}","layout":"row-spread","x":796,"y":1690.8500061035156,"wires":[]},{"id":"4df2ac03.df15c4","type":"ui_text","z":"43603a95.bb0adc","group":"7c7cbc9a.477474","order":2,"width":0,"height":0,"name":"","label":"Temperature Alarm","format":"{{msg.payload}}","layout":"row-spread","x":799,"y":1740.8500061035156,"wires":[]},{"id":"3dc142af.91f84e","type":"ui_text","z":"43603a95.bb0adc","group":"7c7cbc9a.477474","order":3,"width":0,"height":0,"name":"","label":"Pressure Alarm","format":"{{msg.payload}}","layout":"row-spread","x":796,"y":1793.8500061035156,"wires":[]},{"id":"f9cb7beb.9ffa38","type":"ui_text","z":"43603a95.bb0adc","group":"7c7cbc9a.477474","order":4,"width":0,"height":0,"name":"","label":"Volts Alarm","format":"{{msg.payload}}","layout":"row-spread","x":786,"y":1836.8500061035156,"wires":[]},{"id":"13f10a5e.d1fdc6","type":"switch","z":"43603a95.bb0adc","name":"Top Level","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/Wind/","vt":"str"},{"t":"cont","v":"/Temp/","vt":"str"},{"t":"cont","v":"/Pressure/","vt":"str"},{"t":"cont","v":"/Solar/","vt":"str"},{"t":"cont","v":"/Almanac/","vt":"str"},{"t":"cont","v":"/Board/","vt":"str"},{"t":"cont","v":"/Version/","vt":"str"},{"t":"cont","v":"/Name","vt":"str"},{"t":"cont","v":"Daily/Heat","vt":"str"},{"t":"cont","v":"Daily/Cool","vt":"str"},{"t":"cont","v":"/Status/","vt":"str"},{"t":"cont","v":"/Alarm/","vt":"str"},{"t":"cont","v":"/Rain/","vt":"str"},{"t":"cont","v":"/Soil/","vt":"str"}],"checkall":"false","outputs":14,"x":290.5,"y":1034.2999572753906,"wires":[["4a963381.49f00c"],["ada9f4ce.98c508"],["a3d5994b.48a0d8"],["caa9c0dd.d19d6"],["c708d983.f8dbc8"],["e19ca1b4.670f3"],["704b5b16.abbfe4"],["433ec8e8.ea7368"],["c80feb37.fe7b28"],["61fdcfd4.7c85e"],["6fb75b3e.1f2ab4"],["90331751.819b58"],["7afcb9b0.0c1d18"],["1160e90.d542717"]]},{"id":"4a963381.49f00c","type":"switch","z":"43603a95.bb0adc","name":"Wind","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Wind/Average","vt":"str"},{"t":"cont","v":"Daily/Average","vt":"str"},{"t":"cont","v":"Direction","vt":"str"},{"t":"cont","v":"Rose","vt":"str"},{"t":"cont","v":"Speed","vt":"str"},{"t":"cont","v":"Daily/Hi","vt":"str"},{"t":"cont","v":"Daily/Run","vt":"str"}],"checkall":"false","outputs":7,"x":463.5,"y":276.29998779296875,"wires":[["f9d4a0a7.5c954"],["e0170182.4054d"],["b3582121.8c1ad"],["205e7e6a.c4d102"],["ec0e38e4.2b7c18","c5f105aa.c37568"],["8aa7fd93.f3f3e"],["f9c55b90.b7bd28"]]},{"id":"ada9f4ce.98c508","type":"switch","z":"43603a95.bb0adc","name":"Temp","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Outside","vt":"str"},{"t":"cont","v":"Daily/Hi","vt":"str"},{"t":"cont","v":"Daily/Low","vt":"str"},{"t":"cont","v":"Humidity","vt":"str"},{"t":"cont","v":"Dewpoint","vt":"str"}],"checkall":"false","outputs":5,"x":514.5,"y":554.2999572753906,"wires":[["26acf4ca.21ad9c"],["2c570be9.b782b4"],["21293d29.e225c2"],["9115e1f.144db2"],["3c02df22.ebbe5"]]},{"id":"a3d5994b.48a0d8","type":"switch","z":"43603a95.bb0adc","name":"Pressure","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Relative","vt":"str"},{"t":"cont","v":"Daily/Low","vt":"str"},{"t":"cont","v":"Daily/Hi","vt":"str"},{"t":"cont","v":"Trend","vt":"str"}],"checkall":"false","outputs":4,"x":840.5,"y":697.3000183105469,"wires":[["615fbe19.a0ff","41af9aaf.db7144"],["94aac32f.d0a32"],["2193d380.fe096c"],["9f8c03a6.709de"]]},{"id":"caa9c0dd.d19d6","type":"switch","z":"43603a95.bb0adc","name":"Solar","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Radiation","vt":"str"},{"t":"cont","v":"SolarMax","vt":"str"},{"t":"cont","v":"Cloudy","vt":"str"},{"t":"cont","v":"Daily/Sunlight","vt":"str"}],"checkall":"false","outputs":4,"x":645.5,"y":897.3000183105469,"wires":[["2acd94f5.f2eaac","dcac1107.3ec0d"],["e2bc17f5.290bb8","7636b4f7.e9548c"],["6e7be02c.b2b1f"],["d64ab38c.f68e1"]]},{"id":"c708d983.f8dbc8","type":"switch","z":"43603a95.bb0adc","name":"Almanac","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/Sun/","vt":"str"},{"t":"cont","v":"DayLength","vt":"str"}],"checkall":"false","outputs":2,"x":547.5,"y":1043.2999572753906,"wires":[["6744be06.0c803"],["ea0baff6.85dc3"]]},{"id":"6744be06.0c803","type":"switch","z":"43603a95.bb0adc","name":"Sun","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"SolarMax","vt":"str"},{"t":"cont","v":"Rise","vt":"str"},{"t":"cont","v":"Set","vt":"str"}],"checkall":"false","outputs":3,"x":747.5,"y":1071.2999572753906,"wires":[["3ebc21fe.70619e"],["25c7e19b.b0bc3e"],["357c5679.8135ea"]]},{"id":"e19ca1b4.670f3","type":"switch","z":"43603a95.bb0adc","name":"Board","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Battery","vt":"str"},{"t":"cont","v":"Source","vt":"str"},{"t":"cont","v":"Temp","vt":"str"}],"checkall":"false","outputs":3,"x":600.5,"y":1223.2999572753906,"wires":[["e93af30b.78882"],["1f08412e.df5a7f"],["8539a2f2.22cd4"]]},{"id":"704b5b16.abbfe4","type":"switch","z":"43603a95.bb0adc","name":"Version","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/Software/EOS","vt":"str"},{"t":"cont","v":"/Software/EOR","vt":"str"},{"t":"cont","v":"Firmware","vt":"str"}],"checkall":"false","outputs":3,"x":640.5,"y":1381.2999572753906,"wires":[["572be57.115fa1c"],["5064d8ba.344ac8"],["7ee5e033.e1385"]]},{"id":"6fb75b3e.1f2ab4","type":"switch","z":"43603a95.bb0adc","name":"Status","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Fan","vt":"str"}],"checkall":"false","outputs":1,"x":631.5,"y":1628.2999572753906,"wires":[["57af99b4.45fbe8"]]},{"id":"90331751.819b58","type":"switch","z":"43603a95.bb0adc","name":"Alarm","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Wind","vt":"str"},{"t":"cont","v":"Temperature","vt":"str"},{"t":"cont","v":"Pressure","vt":"str"},{"t":"cont","v":"Volts","vt":"str"}],"checkall":"false","outputs":4,"x":588.5,"y":1756.2999572753906,"wires":[["fb2cfb46.58b438"],["4df2ac03.df15c4"],["3dc142af.91f84e"],["f9cb7beb.9ffa38"]]},{"id":"7afcb9b0.0c1d18","type":"switch","z":"43603a95.bb0adc","name":"Rain","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Today","vt":"str"}],"checkall":"false","outputs":1,"x":474.5,"y":1903.2999572753906,"wires":[["a41edf3d.b79a1"]]},{"id":"41af9aaf.db7144","type":"function","z":"43603a95.bb0adc","name":"","func":"msg.topic = 'Rel Pressure'\nreturn msg;","outputs":1,"noerr":0,"x":1050.5,"y":591.3000183105469,"wires":[["cf35b470.4697a8"]]},{"id":"dcac1107.3ec0d","type":"function","z":"43603a95.bb0adc","name":"","func":"msg.topic = 'Rad';\nreturn msg;","outputs":1,"noerr":0,"x":858.5,"y":825.2999572753906,"wires":[["e0bdba7.118f548"]]},{"id":"1160e90.d542717","type":"switch","z":"43603a95.bb0adc","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Moisture","vt":"str"}],"checkall":"true","outputs":1,"x":463.5,"y":1944.2999572753906,"wires":[["9c13fb6a.95c048"]]},{"id":"9c13fb6a.95c048","type":"ui_gauge","z":"43603a95.bb0adc","name":"Soil Moisture","group":"9279469d.961068","order":0,"width":"6","height":"3","gtype":"wave","title":"Moisture","label":"Moisture","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":651.5,"y":1944.0799865722656,"wires":[]},{"id":"1f08412e.df5a7f","type":"ui_gauge","z":"43603a95.bb0adc","name":"Source Volts","group":"fae2100b.4728","order":2,"width":"3","height":"3","gtype":"gage","title":"Source","label":"volts","format":"{{value}}","min":"8","max":"30","colors":["#b30003","#e6e600","#43ca3a"],"x":806,"y":1231.8500061035156,"wires":[]},{"id":"1ed2fb20.b00fe5","type":"ui_group","z":"","name":"Temperature","tab":"a6b4b703.0a3ad8","order":2,"disp":true,"width":"6"},{"id":"ff356f7d.c1a0e","type":"ui_group","z":"","name":"Wind","tab":"a6b4b703.0a3ad8","order":1,"disp":true,"width":"6"},{"id":"51922101.9836","type":"mqtt-broker","z":"","broker":"m10.cloudmqtt.com","port":"17086","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"9181f272.5e62","type":"ui_group","z":"","name":"Rain Amount (mm)","tab":"a6b4b703.0a3ad8","order":5,"disp":true,"width":"6"},{"id":"baf0ae86.3126a","type":"ui_group","z":"","name":"Pressure","tab":"a6b4b703.0a3ad8","order":3,"disp":true,"width":"6"},{"id":"f2e60f07.d5a12","type":"ui_group","z":"","name":"Solar","tab":"a6b4b703.0a3ad8","order":4,"disp":true,"width":"6"},{"id":"fae2100b.4728","type":"ui_group","z":"","name":"Board","tab":"a6b4b703.0a3ad8","order":7,"disp":true,"width":"6"},{"id":"806d5ceb.d8c9","type":"ui_group","z":"","name":"Station","tab":"85dcc4e6.2efe88","order":2,"disp":true,"width":"6"},{"id":"7c7cbc9a.477474","type":"ui_group","z":"","name":"Alarms","tab":"85dcc4e6.2efe88","disp":true,"width":"6"},{"id":"9279469d.961068","type":"ui_group","z":"","name":"Soil Moisture (%)","tab":"4afa6e59.fec33","order":6,"disp":true,"width":"6"},{"id":"a6b4b703.0a3ad8","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","order":1},{"id":"85dcc4e6.2efe88","type":"ui_tab","z":"","name":"Status","icon":"dashboard","order":3},{"id":"4afa6e59.fec33","type":"ui_tab","z":"","name":"No Module","icon":"dashboard"}]